<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077299205570-u64rd7ecqmbe270rv4k0nr01rj9kgt17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077299205570-u64rd7ecqmbe270rv4k0nr01rj9kgt17</string>
	<key>API_KEY</key>
	<string>AIzaSyA_oO_C3sxEJIF19hb5Aw98G7KDeFLI9Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>1077299205570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssafy.a202.app</string>
	<key>PROJECT_ID</key>
	<string>dodamdodam-94a8a</string>
	<key>STORAGE_BUCKET</key>
	<string>dodamdodam-94a8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077299205570:ios:ea57ba5ad252cb6748f25b</string>
</dict>
</plist>